
.buscador form, i {
    margin-left: 10px;
}

button i {
    color: #0d253f;
    font-size: 20px;
}

.buscador {
    position: absolute;
}

form input {
    color:mediumvioletred;
    font-family: 'Sora';
    font-size: 13.5px;
    border-color: #0d253f;
}

form button {
    background-color: transparent;
    border: none;
    color: white;
}

#usuario{
    color: white;
}

#busqueda {
    font-size: 15px;
    margin-top: 12px;
}


  /* CSS PARA TABLET  */
  @media (min-width: 768px) {
    
    
}
/* CSS PARA LAPTOP  */
@media (min-width: 992px) {
  
  
}