
.opciones i:hover {
    color:mediumvioletred;
}

.opciones {
    margin:10px;
    text-align: right;
}

.opciones i {
    font-size: 20px;
    margin-top: 10px;
}

.moviesRow {
  display: flex;
  flex-direction: column;
}

.moviesRow .tarjetas {
  width: 100%;
  display: flex;
}


.moviesRow .tarjetas img {
  width: 100%;
}

.moviesRow .tarjetas .poster {
  width: 30%;
}

.moviesRow .tarjetas .infoGeneral {
  margin-left: 5%;
  margin-right: 5%;
  width: 70%;
}

.moviesCol {
  display: flex;
  flex-wrap: wrap;
}



.opciones button {
    cursor: pointer;
    background-color:mediumvioletred;
    color: white;
    border: none;
    font-size: 13px;
}

.opciones button:hover {
    color: mediumvioletred;
    border: none;
    background-color: transparent;
}

button { 
    margin-bottom: 12px;
    cursor: pointer;
    background-color:mediumvioletred;
    font-size: 12px;
    border: none;
    color: white;
}

.masPelis{
    margin-bottom: 12px;
    font-size: 12px;
    border: solid 1px #0d253f;
    color: white;
    background-color: #0d253f;
    margin-left: 1%;
}

.masPelis:hover {
  cursor: pointer;
  
}
body {
  background-color:rgb(201, 238, 250);
}


/* CSS PARA TABLET  */
@media  (max-width: 768px) {

  .moviesCol{
    margin-left: 2%;
  }
  

}

/* CSS PARA MOBILE  */
@media  (max-width: 425px) {
    
   
  }



 
  