.opciones i:hover {
    color:mediumvioletred;
}

.opciones {
    margin:10px;
    text-align: right;
}

.opciones i {
    font-size: 20px;
    margin-top: 10px;
}

.moviesRow {
  display: flex;
  flex-direction: column;
}

.moviesRow .tarjetas {
  width: 100%;
  display: flex;
}


.moviesRow .tarjetas img {
  width: 100%;
}

.moviesRow .tarjetas .infoGeneral {
  margin-left: 5%;
  margin-right: 5%;
}

.moviesCol {
  display: flex;
  flex-wrap: wrap;
}

.opciones button {
    cursor: pointer;
    background-color:mediumvioletred;
    color: white;
    border: none;
    font-size: 13px;
}

.opciones button:hover {
    color: mediumvioletred;
    border: none;
    background-color: transparent;
}
/* aca hay q hacer dos diferentes con clases para el de borrar y para el de cargar mas tarjetas */
button { 
    margin-bottom: 12px;
    cursor: pointer;
    background-color:mediumvioletred;
    font-size: 12px;
    border: none;
    color: white;
}




/* CSS PARA TABLET  */
@media only screen and (max-width: 768px) {
    body {
      background-color: lightblue;
    }
    
  }
  /* CSS PARA LAPTOP  */
@media (min-width: 992px) {
    
    
  }