.footer {
    display: flex;
    justify-content: space-between;
    background-color: #0d253f;
    margin-bottom: 0px;
}

ul.team{
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    color: white;
    margin: 0px;
}

.nombre{
    margin-left: 5px;
    margin-right: 20px;
    font-size: 10px;
}

img.logoDB {
    width: 150px;
    margin-left: 20px;

}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: mediumvioletred;
}


  /* CSS PARA TABLET  */
  @media (min-width: 768px) {
    .nombre{
        font-size: 12px;
    }
    
}
/* CSS PARA LAPTOP  */
@media (min-width: 992px) {
    .nombre{
        font-size: 15px;
    }
  
}