.footer {
    display: flex;
    justify-content: space-between;
    background-color: #0d253f;
    margin-bottom: 0px;
}

ul.team{
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    color: white;
    margin: 0px;
}

.nombre{
    margin-left: 5px;
    margin-right: 20px;
}

img {
    width: 150px;
    margin-left: 20px;

}

