.footer {
    display: flex;
    justify-content: space-between;
    background-color: #0d253f;
    margin-bottom: 0px;
    width: 100%;
}

ul.team{
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    color: white;
    margin: 0px;
    width: 90%;
}

.nombre{
    font-size: 10px;
    margin: 3%;
}

img.logoDB {
    width: 10%;
    margin-left: 20px;

}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: mediumvioletred;
}


 /* CSS PARA TABLET  */
@media (max-width: 768px) {
    img.logoDB {
        width: 15%;
    
    }
}

/* CSS PARA MOBILE */
@media (max-width: 425px) {
    .nombre{
        font-size: 7px;
    }
    img.logoDB {
        width: 20%;
    }
    
    } 