.header{
    display: flex;
    justify-content: space-around; 
    background-color: #0d253f;
    align-items: center;
    height: 100px;
}

.good{
    display: flex;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.buscador {
    display: flex;
}

#logo {
    font-size: 50px;
    margin-right: 10px;
}

#titulo {
    font-size: 50px;
}

#usuario {
    font-size: 20px;
}
